.App {
  text-align: center;
  width: 100vh;
}
button{
  width: 120px;
  height: 100px;
  margin-left: 10px;
  background-color: red;
}
h1{
  margin-left: 550px;
}
#main{
  border:  2px solid black;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
}
button:hover{
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 30px;
  box-shadow: 3px 3px 15px;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;

}
.h1{
  text-align: center;
  color:crimson;
  display:inline-block;
  text-decoration: underline;
}
.ganeshPic{
  position: relative;
  left : 320px;
  width:300px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px;

}
.heading{
  color:deeppink;
  text-decoration: underline;
}
.a{
 position: relative;
 right:10px;
 color:crimson;
 font-size: 1.5rem;
}